[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = ${DOMAIN}
stateOrProvinceName = NSW
countryName = US
emailAddress = ${ADMIN_EMAIL}
organizationName = OrgName
organizationalUnitName = OrgUnit

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = ${DOMAIN}
DNS.1 = www.${DOMAIN}
DNS.2 = static.${DOMAIN}